body {
    overflow: hidden;
}

#page-header {
    width: 100vw;
    height: 70vh;
    filter: drop-shadow(black 0rem 1rem 10px);
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform .1s ease;
}

#page-header > #header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

#page-series > .page-image {
    width: 18vw;
    height: 10vmin;
    object-fit: cover;
    object-position: center;
    user-select: none;
    filter: drop-shadow(black .2rem .5rem 5px);
    cursor: pointer;
    transition: border-color .5s, margin-top .5s;
    border-radius: 10px;
    border: solid transparent 5px;
}

#page-series > .page-image:hover, .page-image-focus {
    border-color: white!important;
    margin-top: -1rem;
}

#page-series {
    display: flex;
    gap: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -13vmin;
}

#content {
    width: 94vw;
    padding: 3vw;
    text-wrap: wrap;
    font-size: 2vmin;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform .1s ease;
    display: grid;
    grid-template-columns: 1fr;
}

.content-section {
    grid-row-start: 1;
    grid-column-start: 1;
    opacity: 0;
    transition: opacity .5s;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.visible {
    opacity: 1;
    z-index: 1;
}

.content-section > h1 {
    font-family: "Cinzel", serif;
}

.content-section > span {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3vh;
    font-family: "BIZ UDGothic", sans-serif;
}

.summary {
    cursor: pointer;
    user-select: none;
}

.center {
    text-align: center;
}

.spoiler {
    background-color: black;
    transition: background-color .5s;
}

.spoiler:hover {
    background-color: transparent;
}