body {
    height: 100vh;
    width: 100vw;
    /* https://cssgradient.io/
     * a9ebf9:0,
     * 0994f3:81,
     * da49d4:100,
     * 126°
     */
    background: rgb(169,235,249);
    background: linear-gradient(126deg, rgba(169,235,249,1) 0%, rgba(9,148,243,1) 81%, rgba(218,73,212,1) 100%); 
    margin: 0rem;
    color: black;
}